body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    color: #4d4d4d;
}

button {
    background-color: #8dc63f;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #7bb335;
}

.account-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#accountBalances {
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 4px;
}

#accountMenu {
    display: none;
    background-color: #e6e6e6;
    padding: 20px;
    margin-top: 20px;
    border-radius: 4px;
}

#accountTransactions {
    background-color: #e6e6e6;
    padding: 20px;
    margin-top: 20px;
    border-radius: 4px;
}

#accountTransactionsList div {
    background-color: #c6c6c6;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

#CreateAccount {
    display: none;
}

.flex-container
    display: flex;
    flex-wrap: wrap;
}

.transaction-param-flex-item {
    flex: 1 0 25%;
    padding: 10px;
    display: inline-block;
        column-count: 4;

}

#deleteAccountButton {
    position: absolute;
    right: 20px;
}

form {
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 4px;
}

input[type=text], input[type=date], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}