<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVP:księgowość</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <h1>MVP:księgowość</h1>
    <div id="accountBalances" style="float: right;"></div>
    <h2>Konta</h2>
    <button class="tabCreateAccount" onclick="toggleForm('CreateAccount')">Utworż konto</button>
    <div id="CreateAccount" class="tabcontent">
        <br>
        <br>

        <form id="create-account-form" method="post">
            <label for="account-name">Nazwa:</label><br>
            <input type="text" id="account-name" name="account-name"><br>
            <label for="account-type">Typ:</label><br>
            <input type="text" id="account-type" name="account-type"><br>
            <label for="balance">Saldo:</label><br>
            <input type="text" id="balance" name="balance"><br><br>
            <button type="button" onclick="createAccount()">Utworż</button>
        </form>
    </div>

    <br>
    <br>
    <br>

    <select id="accountSelector" onchange="openAccountMenuAndFetchTransactions()">
        <option value="">Wybierż konto</option>
    </select>

    <div id="accountMenu">
        <div class="account-header-container">
            <h3>Kontrola konta</h3>
            <button id="deleteAccountButton" onclick="deleteSelectedAccount()">Delete Account</button>
        </div>
        <div id="CreateTransaction" class="tabcontent">
            <form id="create-transaction-form" method="post" class="flex-container">
                <div class="transaction-param-flex-item">
                    <label for="transaction-date">Data:</label><br>
                    <input type="date" id="transaction-date" name="transaction-date"><br>
                </div>
                <div class="flex-item">
                    <label for="transaction-description">Opis:</label><br>
                    <input type="text" id="transaction-description" name="transaction-description"><br>
                </div>
                <div class="transaction-param-flex-item">
                    <label for="transaction-amount">Koszt:</label><br>
                    <input type="number" id="transaction-amount" name="transaction-amount"><br>
                </div>
                <div class="transaction-param-flex-item">
                    <label for="transaction-type">Typ:</label><br>
                    <select id="transaction-type" name="transaction-type">
                        <option value="debit">Kupno</option>
                        <option value="credit">Sprzedaź</option>
                    </select>
                </div>
                <button type="button" onclick="createAccountTransaction()">Utworź transakcję</button>
            </form>
        </div>
    </div>

    <div id="accountTransactions">
        <h2>Account Transactions</h2>
        <div id="accountTransactionsList"></div>
    </div>

    <script>
        function clearFields() {
            document.getElementById('transaction-date').value = '';
            document.getElementById('transaction-description').value = '';
            document.getElementById('transaction-amount').value = '';
            document.getElementById('transaction-type').value = '';
        }

         function toggleForm(formId) {
            var form = document.getElementById(formId);
            if (form.style.display === "none" || form.style.display === "") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }


        function fetchAccounts() {
    fetch('/account')
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to fetch accounts');
            }
            return response.json();
        })
        .then(data => {
            const accountSelector = document.getElementById('accountSelector');
            const accountBalances = document.getElementById('accountBalances');
            accountSelector.innerHTML = '<option value="">Wybierż konto</option>';
            accountBalances.innerHTML = '';
            data.forEach(account => {
                const option = document.createElement('option');
                option.value = account.AccountID;
                option.textContent = `ID: ${account.AccountID}, Name: ${account.AccountName}`;
                accountSelector.appendChild(option);

                const balanceDiv = document.createElement('div');
                balanceDiv.textContent = `ID: ${account.AccountID}, Name: ${account.AccountName}, Balance: ${account.Balance}`;
                accountBalances.appendChild(balanceDiv);
            });
        })
        .catch(error => {
            console.error('Error fetching accounts:', error);
        });
}

function fetchAccountTransactions() {
    const accountSelector = document.getElementById('accountSelector');
    const accountId = accountSelector.value;
    const transactionsList = document.getElementById('accountTransactionsList');
    transactionsList.innerHTML = '';

    let fetchUrl = '/transaction';
    if (accountId) {
        // If an account is selected, fetch only the transactions of the selected account
        fetchUrl += `?accountID=${accountId}`;
    } else {
        fetchUrl += fetchTransactions();
    }

    fetch(fetchUrl)
        .then(response => response.json())
        .then(data => {
            data.forEach(transaction => {
                // Create a new div for the transaction
                const transactionDiv = document.createElement('div');
                transactionDiv.textContent = `ID: ${transaction.TransactionID}, Date: ${transaction.Date}, Description: ${transaction.Description}, Amount: ${transaction.Amount}, Account ID: ${transaction.AccountID}, Type: ${transaction.Type}`;

                // Create buttons for the transaction
                const breakLine = document.createElement('br');
                transactionDiv.appendChild(breakLine);

                const deleteTransactionButton = document.createElement('button');
                deleteTransactionButton.textContent = 'Delete Transaction';

deleteTransactionButton.onclick = function() {
    const transactionId = transaction.TransactionID;

    // Delete the transaction
    fetch(`/transaction/${transactionId}`, {
        method: 'DELETE'
    })
    .then(response => response.json())
    .then(data => {
        console.log(data.message);

        // Refresh the account balances and transactions
        fetchAccounts();
        fetchTransactions();
        // Send notification
        alert('Transaction deleted and account balances and transactions updated.');
    });
};
                transactionDiv.appendChild(deleteTransactionButton);
                transactionsList.appendChild(transactionDiv);
            });
            transactionsList.style.display = 'block';
        });
}

        function fetchTransactions() {
            fetch('/transaction')
                .then(response => response.json())
                .then(data => {
                    const transactionsList = document.getElementById('accountTransactionsList');
                    transactionsList.innerHTML = '';
                    data.forEach(transaction => {
                        const li = document.createElement('li');
                        li.textContent = `ID: ${transaction.TransactionID}, Date: ${transaction.Date}, Description: ${transaction.Description}, Amount: ${transaction.Amount}, Account ID: ${transaction.AccountID}, Type: ${transaction.Type}`;
                        transactionsList.appendChild(li);
                    });
                });
        }

        function openAccountMenu() {
            const accountMenu = document.getElementById('accountMenu');
            accountMenu.style.display = 'block';
        }

        let areTransactionsDisplayed = false;

        function createAccountTransaction() {
            const accountId = document.getElementById('accountSelector').value;
            if (!accountId) {
                alert('Spoczątku wybierź konto.');
                return;
            }
            const date = document.getElementById('transaction-date').value;
            const description = document.getElementById('transaction-description').value;
            const amount = document.getElementById('transaction-amount').value;
            const type = document.getElementById('transaction-type').value;

            fetch(`/transaction?date=${date}&description=${description}&amount=${amount}&accountID=${accountId}&type=${type}`, {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                alert(`${data.message} New Transaction ID: ${data.TransactionID}`);
                fetchAccountTransactions();
                fetchAccounts();
                clearFields();
            });
        }

        function openAccountMenuAndFetchTransactions() {
    const accountSelector = document.getElementById('accountSelector');
    const accountId = accountSelector.value;
    const accountMenu = document.getElementById('accountMenu');

    if (accountId === "") {
        accountMenu.style.display = 'none';
        fetchTransactions(); // Fetch all transactions when "Wybierż konto" is chosen
    } else {
        openAccountMenu();
        fetchAccountTransactions(); // Fetch only the transactions of the chosen account
    }
}

        function deleteSelectedAccount() {
            const accountSelector = document.getElementById('accountSelector');
            const accountId = accountSelector.value;
            if (accountId) {
                fetch(`/account/${accountId}`, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    fetchAccounts();
                    fetchTransactions();
                });
            }
        }

        function createAccount() {
            const accountName = document.getElementById('account-name').value;
            const accountType = document.getElementById('account-type').value;
            const balance = document.getElementById('balance').value;

            fetch(`/account?accountName=${accountName}&accountType=${accountType}&balance=${balance}`, {
                    method: 'POST'
                  })
            .then(response => response.json())
            .then(data => {
                alert(`${data.message}`);
                fetchAccounts();
                fetchTransactions();
                                clearFields();
            });
        }

        function createTransaction() {
            const date = document.getElementById('date').value;
            const description = document.getElementById('description').value;
            const amount = document.getElementById('amount').value;
            const accountID = document.getElementById('account-id').value;
            const type = document.getElementById('type').value;

                fetch(`/transaction?date=${date}&description=${description}&amount=${amount}&accountID=${accountID}&type=${type}`, {
                    method: 'POST'
                }).then(response => response.json())
                .then(data => {
                    alert(`${data.message} New Transaction ID: ${data.TransactionID}`);
                fetchAccounts();
                fetchTransactions();                });
        }
        window.onload = function() {
                fetchAccounts();
                fetchTransactions();
            };
    </script>

</body>
</html>
